@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
body{
    margin: 0;
    background-image: url("img/stars.gif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Space Mono', monospace;
}
#galaxy{
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.button{
    color: #F33F4B;
    background-color: #5FA871;
    background-image: url("img/stripe.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    font-size: 20px;
    width: 110px;
    height: 50px;
    border-radius: 8px;
    margin: 20px;
    border: #F33F4B solid 2px ;
    font-family: 'Space Mono', monospace;
}
/*---------splash------------*/

.title {
    margin-bottom: -150px;
    width: 100%;
    -webkit-animation: animate 2s ease-in;
    -moz-animation: animate 2s ease-in;
    -ms-animation: animate 2s ease-in;
    -o-animation: animate 2s ease-in;

}
@-webkit-keyframes animate {
    0% { height: 10%; margin: 45% 45%; }
    100% { height: 100%;  margin-bottom: -100px  }
}
@-moz-keyframes animate {
    0% { height: 10%; margin: 45% 45%; }
    100% { height: 100%; margin-bottom: -100px }
}
@-ms-keyframes animate {
    0% { height: 10%; margin: 45% 45%; }
    100% { height: 100%;  margin-bottom: -100px  }
}
@-o-keyframes animate {
    0% { height: 10%; margin: 45% 45%; }
    100% { height: 100%;  margin-bottom: -100px  }
}
.splashSun {
    border-radius: 50%;
    margin-top: -250px;

}
@media only screen and (max-width: 1400px) {
    .title {
        width: 100%;
        margin-bottom: -100px;
    }

    .splashSun {
        margin-top: -30px;
        border-radius: 50%;
    }
}


/*--------NAVBAR-----------------*/
.navbar{
    margin-top: -15px;
    background-color: #5FA871;
    width: 100vw;
    height: 12vh;
}
.nav_menu{
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu_li{
    display: block;
}
.menu_a img{
    height: 60px;
    cursor: pointer;
}
.menu_li2{
    display: flex;
}
.logout{
    position: absolute;
    margin-top: 60px;
    font-size: 13px;
    font-weight: bold;
}
#logoTitle{
    position: absolute;
    margin-top: -5px;

}
#logoPic{
    position: absolute;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
}

.red{
    border-radius: 50%;
}
.red:hover{
    animation: glow 5000ms ease-out infinite alternate;
}
@keyframes glow {
    0% {
        background-image: linear-gradient(to right, #5FA871, #fb5d68, #5FA871);
    }
    40% {
        background-image: linear-gradient(to right, #5FA871, #fc3846, #5FA871);
    }
    80% {
        background-image: linear-gradient(to right, #5FA871, #fe3846, #5FA871);
    }
    100% {
        background-image: linear-gradient(to right, #5FA871, #ff0012, #5FA871);
    }
}

/*///////////search///////////////////////////*/
@media only screen and (max-width: 1680px) {
    #content {
        position: absolute;
        height: 50px;
        width: 300px;
        margin-left: 250px;
        margin-top: -390px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media only screen and (min-width: 1680px) {
    #content {
        position: absolute;
        height: 50px;
        width: 300px;
        margin-left: 200px;
        margin-top: -460px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
#content.on {
    -webkit-animation-name: in-out;
    animation-name: in-out;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.input {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Space Mono', monospace;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.search:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 26px;
    margin-left: 17px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.close:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close:after {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #fff;
    margin-top: -1px;
    margin-left: -13px;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 300px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 0;
    background: none;
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}


/*---------galaxy-----------*/
.sun{
    border-radius: 50%;
    width: 50%;
    margin-top: 35%;
    margin-left: 32%;
    animation-name: rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}
#solarSystem {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: relative;
    margin-left: 35%;
    margin-top: 15%;
    animation-name: rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 120s;
    animation-timing-function: linear;
}


@media only screen and (max-width: 1200px) {
    #solarSystem {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        position: relative;
        margin-left: 25%;
        margin-top: 15%;
        animation-name: rotate-s-loader;
        animation-iteration-count: infinite;
        animation-duration: 120s;
        animation-timing-function: linear;
    }
}

@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.planet {
    list-style: none;
    background-color: #F33F4B;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    text-align: center;

}

#planet1, #planet16, #planet28{background-image: url("img/planet.gif")}
#planet2, #planet17, #planet29{background-image: url("img/planet2.gif")}
#planet3, #planet18, #planet30{background-image: url("img/planet1.gif")}
#planet4, #planet19, #planet31{background-image: url("img/planet3.gif")}
#planet5, #planet20, #planet32{background-image: url("img/planet4.gif")}
#planet6, #planet21, #planet33{background-image: url("img/planet5.gif")}
#planet7, #planet22, #planet34{background-image: url("img/planet6.gif")}
#planet8, #planet23, #planet35{background-image: url("img/planet7.gif")}
#planet9, #planet24, #planet36{background-image: url("img/planet8.gif")}
#planet10, #planet25, #planet37{background-image: url("img/planet9.gif")}
#planet11, #planet26, #planet38{background-image: url("img/planet10.gif")}
#planet12, #planet27, #planet39{background-image: url("img/planet11.gif")}
#planet13, #planet40{background-image: url("img/planet12.gif")}
#planet14{background-image: url("img/planet13.gif")}
#planet15{background-image: url("img/planet15.gif")}


/*---------------Planet For Sale-----------------*/
.profilePic{
    background-image: url("img/earth.gif");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: -200px -200px;
    background-repeat: no-repeat;

}
.forSale{
    display: flex;
    color: white;
}
.planetPic{
    width: 40%;
}
.astronaut{
    width: 100%;
    border: grey solid 2px;
    border-radius: 8px;
    /*margin-right: 10%;*/
    display: flex;


}
.info{
    margin-top: 10px;
    margin-left: 10%;
    color: white;
    font-size: 35px;
}
.info span{
    color: #F33F4B;
}

/*---------profile---------------*/
.profile{
    display: flex;
}
#create, #update{
    color: #F33F4B;
    background-color: #5FA871;
    background-image: url("img/stripe.png");
    background-size: 100vw 90px;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin: 20px;
    border: #F33F4B solid 2px ;
    font-family: 'Space Mono', monospace;
}

#\#submitUpdateForm{
    font-size:12px;
    width: 120px;
}



#createPlanet{
    display: none;
}

#updateUserForm{
    display: none;
}

.edit{
}


.name{
    color: white;
}
.name:hover{
    color: red;
}
